@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: aqua;
    font-family: 'Source Code Pro', monospace;
    flex-direction: column;
}

h1{
    margin: 0;
}

h1,p, .btn, input{
    font-size: 3vh;
}

.flex, .forLayoutGridfield> div:nth-child(-n+9){
    display: flex;
}

.flexColumn{
    flex-direction: column;
}

.inline{
    display: inline;
}


.textCenter{
    text-align: center;
}

.itemsCenter{
    align-items: center;
}

.grid{
    display: grid;
}

/* Layout */
.gameField{
    justify-content: top;
    min-height: 100%;

}

.borderRadius40px{
    border-radius: 40px;
}

input{
    width: 18vh;
    height: 6vh;
    font-family: 'Source Code Pro', monospace;
    border: 6px solid rgb(27, 30, 196);
    position: relative;
}

aside{
    margin-top: 3vh;
    width: 80%;
    min-height: 10vh;
    z-index:200;
    flex-wrap: wrap;
}

.right,.left{
    flex: 0 0 50%;
    height: fit-content;
}

.BTNs{
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
}

/* buttons */

.nextBTN{
    color: aqua;
    border: 2px solid blueviolet;
}

.newBTN{
    color: aqua;
    border: 2px solid rgba(255, 0, 0, 0.568);
}

.saveBTN{
    color: aqua;
    border: 2px solid rgb(0, 255, 191);
}

.btn{
    height: fit-content;
    width: 47%;
    background-color: transparent;
    cursor: pointer;

    font-family: 'Source Code Pro', monospace;
    line-height:2em;
}

.marginBottom2vh{
    margin-bottom: 2vh;
}

.btn:hover{
    box-shadow: inset 0 0px 10px 0px rgb(160, 0, 210);
}

.btn:active{
    border-color: rgb(58, 241, 88);
    box-shadow: inset 0 0px 15px 0px rgb(66, 255, 145);
}
/* Grid and Scene */

.forLayoutGridfield{
    grid-template-columns: repeat(3, minmax(5.5em,11vw));
    grid-template-rows: repeat(3, minmax(5.5em,11vw));
    grid-template-areas:
    "field1 field2 field3"
    "field4 field9 field5"
    "field6 field7 field8";
}

.floor{
    transition: transform 0.5s ease;
    position: absolute;
}

.floor p{
    transition: transform 0.5s ease;
    transform : rotateZ(180deg);
    margin: auto auto;
    font-size: 10vh;
}

.scene{
    position: relative;
    z-index:100;
}

.forLayoutGridfield> div:nth-child(-n+9){
    color: white;
    text-shadow: 0 1px 2px black;
    background-color: aqua;
    border-radius: 3vh;
    margin: 15px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 6px rgba(255, 0, 0, 0.507);
}

.forLayoutGridfield> div:nth-child(-n+9):hover{
    transform: perspective(100px) translateZ(-0.25em);
    box-shadow: 0px 0px 18px 10px rgba(255, 0, 0, 0.507);
}

.grid-container{
    height: 60%;
    width: 100%;
    position: relative;
    justify-content:center;
    perspective: 60em;
    transform: translateY(-10vh);

}

.field1{
    grid-area: field1;

}
.field2{
    grid-area: field2;
}
.field3{
    grid-area: field3;
}
.field4{
    grid-area: field4;
}
.field5{
    grid-area: field5;
}
.field6{
    grid-area: field6;
}
.field7{
    grid-area: field7;
}
.field8{
    grid-area: field8;
}
.field9{
    grid-area: field9;
}
.progressDisplay{
    grid-area: gameProgress;
}
.interactiveField{
    grid-area: menu;
}

.highlighted{
    transform:scale(1.25);
    border: 10px solid rgba(255, 0, 43, 0.774);
    filter: drop-shadow(0 0 20px rgb(160, 0, 210));
    background-color:rgb(81, 32, 218) !important;
    -webkit-text-stroke: 2px black;;
}

/* Responsive */


@media (max-width: 1200px){
    .grid-container{
        transform: translateY(0vh);
        height: 50%;
    }
    .right,.left{
        flex-basis: 100%;
    }
    .floor p{
        font-size: 4em;
    }
}

@media (max-width: 700px){
    .grid-container{
        transform: translateY(0vh);
        height: 30%;
    }
    .floor p, .highlighted p{
        font-size: 40px;
    }
    .highlighted{
        border: 4px solid rgba(255, 0, 43, 0.774);
        filter: drop-shadow(0 0 20px rgb(160, 0, 210));
    }
    .btn{
        width: 100%;
    }
    input{
        width: 80%;
    }
}
